<div id="XYY-huijiwiki-helper">
  <n-config-provider :theme="theme" :locale="zhCN">
    <n-button
      type="primary"
      circle
      size="large"
      class="float-button"
      @click="showDrawer=true"
      >按钮</n-button
    >
    <n-drawer
      v-model:show="showDrawer"
      :default-width="512"
      resizable
      :placement="right"
      :z-index="100000021"
      :auto-focus="false"
    >
      <n-drawer-content
        title="羊羊百科小助手"
        closable
        :native-scrollbar="false"
        :scrollbar-props="{'x-scrollable':'true'}"
      >
        <n-alert :show-icon="false" :title="`当前网站为：${currentSite}`">
          如果当前网站与上面的显示结果不同，请在GitHub或羊羊百科向我反馈。
        </n-alert>

        <!-- 网站为优兔视频列表时显示的内容 -->
        <div v-if="currentSite===`优兔`">
          <n-h2>获取视频列表数据</n-h2>
          <n-space>
            <n-button @click="getYouTubeList(`link`)">获取链接</n-button>
            <n-button @click="getYouTubeList(`title`)">获取标题</n-button>
            <n-button @click="getYouTubeList(`wiki`)"
              >获取wikitext链接</n-button
            >
            <n-button @click="resCode=``">清空</n-button>
          </n-space>
          <n-code :code="resCode" />
        </div>

        <!-- 网站为淘宝或天猫商品详情时显示的内容 -->
        <div v-if="[`淘宝`,`天猫`].includes(currentSite)">
          <n-h2>获取商品数据</n-h2>
          <n-p
            >使用下列功能时请务必先手动滑动至页面底部，确保描述图完全加载完毕。</n-p
          >
          <n-form label-placement="left" :label-width="80">
            <n-form-item label="页面名称">
              <n-input v-model:value="productItem.pagename" />
            </n-form-item>
            <n-form-item label="周边价格">
              <n-input v-model:value="productItem.price" />
            </n-form-item>
            <n-form-item label="上架日期">
              <n-date-picker
                v-model:formatted-value="productItem.date"
                value-format="yyyy-MM-dd"
                type="date"
                clearable
                style="width: 100%"
              />
              <n-input v-model:value="productItem.date" />
            </n-form-item>
            <n-form-item label="周边主题">
              <n-input v-model:value="productItem.feat" />
            </n-form-item>
            <n-form-item label="下载图片">
              <n-switch v-model:value="productItem.ifImgDownload" />
            </n-form-item>
            <n-form-item label="自动复制">
              <n-switch v-model:value="productItem.ifAutoCopy" />
            </n-form-item>
            <n-form-item>
              <n-button
                attr-type="button"
                @click="currentSite===`淘宝` ? getTaobaoItem() : getTianmaoItem()"
                :loading="loading"
              >
                获取
              </n-button>
            </n-form-item>
          </n-form>
          <n-code :code="resCode" show-line-numbers />
        </div>

        <!-- 网站为优兔视频列表时显示的内容 -->
        <div v-if="currentSite===`芒果TV`">
          <n-h2>获取视频列表数据</n-h2>
          <n-space>
            <n-button :loading="loading" @click="getMangguoList(`link`)"
              >获取链接</n-button
            >
            <n-button :loading="loading" @click="getMangguoList(`title`)"
              >获取标题</n-button
            >
            <n-button :loading="loading" @click="resCode=``">清空</n-button>
          </n-space>
          <n-code :code="resCode" />
        </div>

        <template #footer>
          <n-space>
            <n-button
              tag="a"
              href="https://github.com/XYY-huijiwiki/XYY-huijiwiki-helper"
              target="_blank"
              >Github</n-button
            >
            <n-button
              tag="a"
              href="https://club.huijiwiki.com/wiki/特殊:驾驶室#/user/47472"
              target="_blank"
              >羊羊百科</n-button
            >
            <n-button disabled>设置</n-button>
          </n-space>
        </template>
      </n-drawer-content>
    </n-drawer>
  </n-config-provider>
</div>
